
<div class="container navbar-top">
<%# Side navbar hidden Panel %>
  <% if user_signed_in? %>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <%= link_to "Profile", profile_path(current_user.profile.id) %>
      <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) %>
      <a href="#">Option</a>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <% end %>
    <%# Search Bar horizontal %>
  <%= form_tag events_path, method: :get,id:"search-form" do %>
    <div class="search-form-control d-flex pt-2">
      <%= text_field_tag :search_query, params[:search_query], placeholder: "Discover Events", class: "secondary-text form-control",id:"search-input" %>
      <%= submit_tag 'Discover', class: "btn navbar-text", id:"search-button"%>
    </div>
  <% end %>


  <%= link_to new_event_path, class:"text-decoration-none" do%>
    <h3 id="plus-sign"><i class="fa-solid fa-plus"></i></h3>
  <% end %>
</div>
<hr>


<%# Javascript for Side navbar %>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
