<!DOCTYPE html>
<html>
  <head>
    <title>Meetapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <div class="container">
    <div class="container-navbar">
      <%= render "shared/navbar" %>
      <%= image_tag "meetapp.png", class:"logo" %>
    </div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
